
header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  color: white;
  align-items: center;
  padding: 10px 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

header nav li {
  padding: 0 10px;
}

header nav li a {
  color: white;
  text-decoration: none;
}