* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box {
  flex-basis: 100px;
}
.box-red {
  color: red;
}
.box-green {
  color: green;
}
.box-style {
  padding: 10px;
  border: 2px solid black;
  margin: 5px;
}
